body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    background-color: rgb(131, 18, 237);
    color: white;
}
.Tform{
    width: 100%;
  padding: 15
  px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.Tforlm{

    border: 1px solid #ccc;
    border-radius: 5px;
    }
    .search1{
        width: calc(100% - 40px); /* Adjust width to make space for the button */
  padding: 10px; /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
    }
.Tbody

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}
.transaction button {
    cursor: pointer;
}
